@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helios";
    src: url('/fonts/helios.otf');
};


@font-face {
    font-family: "BebasNeue";
    src: url('/fonts/BebasNeue-Regular.ttf');
};


@font-face {
    font-family: "DIN Pro Regular";
    src: url('/fonts/dinpro.otf');
};

