@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;
=======
@tailwind utilities;


@layer base {
    body {
      @apply h-full;
    }
    html {
      @apply h-full;
    }
};

 @layer base {
    @font-face {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        src: url('/public/fonts/BebasNeue-Regular.ttf') format('ttf');
    } 
    @font-face {
        font-family: 'Helios', sans-serif;
        font-weight: 400;
        src: url('/public/fonts/helios.otf') format('otf');
    }
    @font-face {
        font-family: 'DIN Pro Regular', sans-serif;
        font-weight: 400;
        src: url('/public/fonts/dinpro.otf') format('otf');
    }
  }
>>>>>>> dev
